<config>
    <tabs>
        <Bubbleyes translate="label">
            <label>Bubbleyes Extensions</label>
            <sort_order>150</sort_order>
        </Bubbleyes>
    </tabs>    

   <sections>
        <BubbleyesBubblitPluginOptions translate="label" module="Bubbleyes_BubblitPlugin">
            <class>separator-top</class>
            <label>Bubblit Plugin</label>
            <tab>Bubbleyes</tab>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <api_access translate="label">
                    <label>API Access</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <api_key translate="label comment">
                            <label>API key</label>
                            <comment><![CDATA[API key providing access to the Bubbleyes API.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
                    </fields>
                </api_access>
                <bubbl_layout translate="label">
                    <label>Bubbl Button</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <bubblenabled translate="label comment">
                            <label>Bubbl Button Enabled In Details</label>
                            <comment><![CDATA[Enable the button visualization in the product view page.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </bubblenabled>
                        <bubbllayout translate="label comment">
                            <label>Bubbl Button Layout</label>
                            <comment><![CDATA[Choose the layout for your taste - extended or compact.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>bubbleyes_bubblitplugin/config_source_bubbllayout</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </bubbllayout>
                    </fields>
                </bubbl_layout>
                <help translate="label">
                    <label>Help</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <helpinfo translate="label comment">
                            <label>Configuration Info</label>
                            <comment>
                                <model>bubbleyes_bubblitplugin/config_source_helpinfo_comment</model>
                            </comment>
                            <frontend_type>note</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </helpinfo>
                    </fields>                
                </help>
            </groups>

        </BubbleyesBubblitPluginOptions>
    </sections>
</config>